<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Admin Login Page</h1>
    <form action="/admin/admin_view/" method="post">
      {% csrf_token %}
      <p>
        <label>admin name:</label>
        <input name="name" />
      </p>
      <p>
        <label>admin password:</label>
        <input name="password" />
      </p>
      <input type="submit" />
    </form>
    <h1>
      Are you a normal user? Please login:
      <a href="/login/" class="normaluser_login_button">Normal User login</a>
    </h1>
  </body>
</html>
