<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Normal User Login Page</h1>
    <form action="/login/phone/" method="post">
      {% csrf_token %}
      <p>
        <label>user name:</label>
        <input name="name" />
      </p>
      <p>
        <label>user password:</label>
        <input name="password" />
      </p>
      <input type="submit" />
      <h1>
        Not a current user? Please register:
        <a href="/toregister/" class="register-button">Register</a>
      </h1>
      <h1>
        Are you an admin? Please login:
        <a href="/admin/" class="admin-button">Admin login</a>
      </h1>
    </form>
  </body>
</html>
