<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url={% url 'phone' %}">
    <title>Success</title>
</head>
<body>
    <h1>Payment and Shipping Information Saved Successfully!</h1>
    <p>You will be redirected back to the auction items page shortly.</p>

    <script>
        setTimeout(function() {
            window.location.href = "{% url 'phone' %}";
        }, 5000); // Redirect after 5000 milliseconds (5 seconds)
    </script>
</body>
</html>
